<div class="modalWrapper" id="modal">
  <div class="modal">
    <div class="modal-header">
      <p>Добавить участника</p>
      <app-close-button (click)="closeModal()"></app-close-button>
    </div>
    <div class="modal-content">
      <form action="">
        <input type="text" name="name" placeholder="ФИО" [(ngModel)]="name">
        <input type="text" name="card" placeholder="№ чип карты" [(ngModel)]="card">
      </form>
      <div class="faculty"  (click) = 'dropDownFaculty()'>
        <p id="faculty-placeholder" class="faculty-placeholder">{{faculty}}</p>
        <i class="arrowIcon" [ngClass]="{'dropdownIcon': facultyDropdown}"></i>
      </div>
      <div class="facultyDropdown" [ngClass]="{'dropdown': facultyDropdown}">
        <ul>
          <li *ngFor="let item of dataForModal" attr.data-select-faculty="{{item.title}}" (click)="selectFaculty($event)">{{item.title}}</li>
        </ul>
      </div>
      <div class="structure" (click) = 'dropDownStructure()'>
        <p class="structure-placeholder">{{structure}}</p>
        <i class="arrowIcon" [ngClass]="{'dropdownIcon': structureDropdown}"></i>
      </div>
      <div class="structureDropdown" [ngClass]="{'dropdown': structureDropdown}">
        <ul>
          <li *ngFor="let item of structures" attr.data-select-structure="{{item.title}}" attr.data-select-id="{{item.id}}" (click)="selectStructure($event)">{{item.title}}</li>
        </ul>
      </div>
      <div class="checkStudent">
        <input type="checkbox" name="isStudent" id="" [(ngModel)]="isStudent">
        <p>Обучающийся</p>
      </div>
      <button class="addButton" (click)="createMember()">Добавить</button>
    </div>
  </div>
</div>
