<div class="modalWrapper" id="modal">
  <div class="modal">
    <div class="modal-header">
      <p>Добавить пользователя</p>
      <app-close-button (click)="closeModal()"></app-close-button>
    </div>
    <div class="modal-content">
      <form action="">
        <input type="text" name="name" placeholder="ФИО" [(ngModel)]="username">
        <input type="text" name="card" placeholder="Логин" [(ngModel)]="login">
        <input type="password" name="card" placeholder="Пароль" [(ngModel)]="password">
      </form>
      <div class="role"  (click) = 'dropDownRole()'>
        <p id="role-placeholder" class="role-placeholder">{{roleLabel}}</p>
        <i class="arrowIcon" [ngClass]="{'dropdownIcon': roleDropdown}"></i>
      </div>
      <div class="roleDropdown" [ngClass]="{'dropdown': roleDropdown}">
        <ul>
          <li *ngFor="let item of roles" attr.data-select-role="{{item.label}}" (click)="selectRole($event)">{{item.label}}</li>
        </ul>
      </div>

      <button class="addButton" (click)="createUser()">Добавить</button>
    </div>
  </div>
</div>
