<div class="structureCard">
  <p class="structureCard-name">{{selectedData.faculty}}</p>

  <div class="structureCard-info">
    <p class="structureCard-organizer">Профорг: {{selectedData.name}}</p>
    <div class="departmentsInfo">
      <div class="departmentsInfo-usersCount">
        <p>Всего участников: {{selectedData.users}}</p>
      </div>
      <div class="departmentsInfo-count" (click) = "dropdownStructureTable()">
        <i class="dropdown" [ngClass]="{'dropdownIconActive': dropdown}"></i>
        <p>Подразделения (2)</p>
      </div>
      <app-structures-table [ngClass]="{'dropdownTableActive': dropdown}"></app-structures-table>
    </div>
    <canvas id="structureChart" width="300" height="100"></canvas>
  </div>
  <div class="structureCard-nav">
    <div class="structureCard-nav-add">Добавить подразделение</div>
    <div class="structureCard-nav-del">Удалить подразделение</div>
  </div>

</div>
