.structureCard {
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  .dropdown{
    display: block !important;
  }
  .saveForm{
    font-size: 1rem;
    margin-top: 0.5rem;
    display: none;
    input{
      
      padding: 0.3rem 0.5rem;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    button{
      border: none;
      outline: none;
      margin-left: 0.5rem;
      border-radius: 3px;
      color: white;
      padding: 0.3rem 0.5rem;
      background-color: #3cae59;
    }
  }
  .subDepartmentAddModal{
    display: none;
  }
  .departmentDelModal{
    display: none;
  }
  p {
    margin: 0px;
  }
  .structureCard-name {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    .editIcon{
      margin-left: 0.5rem;
      background-image: url('src/assets/icons/create-24px.svg');
      background-position: center;
      background-repeat: no-repeat;
      height: 1.1rem;
      width: 1.1rem;
      display: block;
      opacity: 0.7;
      cursor: pointer;
    }
  }
  .structureCard-nav {
    margin: 1rem auto 0 auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    .structureCard-nav-add {
      cursor: pointer;
      padding: 1rem;
      border-radius: 3px;
      background-color: #3cae59;
    }
    .structureCard-nav-del {
      cursor: pointer;
      padding: 1rem;
      border-radius: 3px;
      background-color: #e96250;
    }
    .structureCard-nav-edit {
      height: 1rem;
      width: 1rem;
      display: inline-block;
      background-image: url("src/assets/icons/create-24px.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    .structureCard-nav-delete {
      height: 1rem;
      width: 1rem;
      display: inline-block;
      background-image: url("src/assets/icons/delete-24px.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .structureCard-info {
    font-size: 1.2rem;
    margin-top: 2rem;
    padding-left: 0.7rem;
    font-weight: 500;
    .structureCard-organizer{
      display: flex;
      align-items: center;
      .editIcon{
        margin-left: 0.5rem;
        background-image: url('src/assets/icons/create-24px.svg');
        background-position: center;
        background-repeat: no-repeat;
        height: 1.1rem;
        width: 1.1rem;
        display: block;
        opacity: 0.7;
        cursor: pointer;
      }

    }
    .structureCharts{
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      .structureCharts-1{
        width: 47%;
      }
      .structureCharts-2{
        width: 47%;
      }
    }
    .departmentsInfo {
      margin-top: 1rem;
      .departmentsInfo-count {
        margin-top: 1rem;
        margin-left: -0.7rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        p {
          // font-weight: bolder;
          // margin-left: 0.5rem;
        }
        .dropdown {
          height: 0.7rem;
          width: 0.7rem;
          background-image: url("src/assets/icons/keyboard_arrow_down-24px.svg");
          background-repeat: no-repeat;
          background-position: center;
          transform: rotate(-90deg);
          opacity: 0.4;
        }
        .dropdownIconActive {
          transform: rotate(0);
        }
      }
      .departmentsInfo-usersCount {
        margin-top: 1rem;
      }
      app-structures-table {
        transition: all 0.3s;
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
      }
      .dropdownTableActive {
        max-height: 600px;
        opacity: 1;
      }
    }
  }
  .structureCard-dropDown {
    margin-top: 1rem;
  }
}
