.structureCard {
  width: 100%;
  // -webkit-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
  // box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
  // border-radius: 4px;
  padding: 1rem 3rem 1rem 1rem;
  p {
    margin: 0px;
  }
  .structureCard-name {
    font-size: 2rem;
    font-weight: bold;
  }
  .structureCard-nav {
    margin: 1rem auto 0 auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    .structureCard-nav-add {
      padding: 1rem;
      border-radius: 3px;
      background-color: #3cae59;
    }
    .structureCard-nav-del {
      padding: 1rem;
      border-radius: 3px;
      background-color: #e96250;
    }
    .structureCard-nav-edit {
      height: 1rem;
      width: 1rem;
      display: inline-block;
      background-image: url("src/assets/icons/create-24px.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    .structureCard-nav-delete {
      height: 1rem;
      width: 1rem;
      display: inline-block;
      background-image: url("src/assets/icons/delete-24px.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .structureCard-info {
    margin-top: 2rem;
    padding-left: 0.7rem;
    font-weight: 500;
    .departmentsInfo {
      margin-top: 1rem;
      .departmentsInfo-count {
        margin-top: 1rem;
        margin-left: -0.7rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        p {
          // font-weight: bolder;
          // margin-left: 0.5rem;
        }
        .dropdown {
          height: 0.7rem;
          width: 0.7rem;
          background-image: url("src/assets/icons/keyboard_arrow_down-24px.svg");
          background-repeat: no-repeat;
          background-position: center;
          transform: rotate(-90deg);
          opacity: 0.4;
        }
        .dropdownIconActive {
          transform: rotate(0);
        }
      }
      .departmentsInfo-usersCount {
        margin-top: 1rem;
      }
      app-structures-table {
        transition: all 0.3s;
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
      }
      .dropdownTableActive {
        max-height: 300px;
        opacity: 1;
      }
    }
  }
  .structureCard-dropDown {
    margin-top: 1rem;
  }
}
