<div class="structureCard">
  <div class="structureCard-name">
    <textarea class="textareaCard"   readonly id="structureName" maxlength="120"  value="{{selectedData.title}}" [(ngModel)]="structureName" (blur)="this.saveStructureName()" ></textarea>
    <p class="textareaCard"  readonly id="structureNameP" maxlength="120">{{structureName}}</p>
    <i class="editIcon" (click)="showEditStructureNameForm()"></i>
  </div>

  <div class="structureCard-info">
    <div class="structureCard-organizer">
      <span>Профорг:&nbsp;</span>
      <textarea class="textareaProf" readonly id="proforgName" maxlength="120" contenteditable value="{{selectedData.proforg}}" [(ngModel)]="proforgName" (blur)="this.saveProforgName()"></textarea>
      <p class="textareaProf" readonly id="proforgNameP" maxlength="120" contenteditable >{{proforgName}}</p>
      <i class="editIcon" (click)="showEditProforgNameForm()"></i>
    </div>
 
    
    <div class="departmentsInfo">
      <div class="departmentsInfo-usersCount">
        <span>Всего участников:&nbsp;</span>
        <p> {{selectedData.members_total}}</p>
      </div>
      <div class="departmentsInfo-count" (click)="dropdownStructureTable()">
        <i class="dropdown" [ngClass]="{'dropdownIconActive': dropdown}"></i>
        <p>Подразделения ({{selectedSubDepartments.length}})</p>
      </div>
      <app-structures-table class="structuresTable" [dynamics]='dynamics' [selectedSubDepartments]='selectedSubDepartments' [ngClass]="{'dropdownTableActive': dropdown}">
      </app-structures-table>
    </div>
    <div class="structureCharts">
      <div class="structureCharts-1">
        <canvas id="structureChart"></canvas>
      </div>
      <div class="structureCharts-2">
        <canvas id="structureChart2"></canvas>
      </div>
    </div>
  </div>
  <div class="structureCard-nav">
    <div class="structureCard-nav-add" (click)="downloadExcel()">Excel</div>
    <div class="structureCard-nav-add" (click)="showAddModal()">Добавить подразделение</div>
    <div class="structureCard-nav-del" (click)="showDelModal()">Удалить структуру</div>
  </div>
  <app-sub-departments-add-modal [department]='selectedData' class="subDepartmentAddModal" id="subDepartmentAddModal"></app-sub-departments-add-modal>
  <!-- <app-structures-delete-modal [department]='selectedData' class="departmentDelModal" id="departmentDelModal"></app-structures-delete-modal> -->
  <app-delete-modal></app-delete-modal>
</div>
