<div class="controlPanel">
  <div class="controlPanel-header">
    Панель управления
  </div>
  <div class="controlPanel-nav">
    <ul>
      <li class="navItem">
        <div class="navItem-title">
          <i class="groupIcon"></i>
          <a [routerLink]="['members']">Участники</a>
        </div>
      </li>
      <li class="navItem">
        <div class="navItem-title" (click)="dropDownStructure()">
          <i class="unitIcon"></i>
          <a [routerLink]="['structures']">Структуры</a>
          <i class="arrowIcon" [ngClass]="{'dropdownIcon': structureDropdown}"></i>
        </div>
        <app-structures-nav class="appStructuresNav" [ngClass]="{'dropdown': structureDropdown}"></app-structures-nav>
      </li>
      <li class="navItem">
        <div class="navItem-title">
          <i class="usersIcon"></i>
          <a [routerLink]="['users']">Пользователи</a>
        </div>
      </li>
    </ul>
  </div>
</div>
