.auth {
  position: relative;
  top: 50%;
  width: 20%;
  margin: 10rem auto 0 auto;
  -webkit-box-shadow: 0px 6px 16px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 16px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 16px -5px rgba(0, 0, 0, 0.75);

  .auth-header {
    background-color: #3cae59;
    color: #ffffff;
    padding: 0.5rem;
  }
  .auth-form {
    padding: 0.5rem;
    ul {
      padding: 0;
      list-style: none;
      li {
        margin-top: 1rem;
        label {
          display: block;
        }
        input {
          border: none;
          border-bottom: 1px solid #ccc;
          width: 100%;
        }
        input[type="checkbox"] {
          width: auto;
        }
        input[type="submit"] {
          background-color: #3cae59;
          color: #ffffff;
          padding: 0.5rem;
        }
      }
      .remember {
        display: flex;
        align-items: center;
      }
    }
  }
}
