
<div class="auth">
  <div class="auth-header">Вход в личный кабинет</div>
  <form class="auth-form" action="" >
    <ul>
      <li>
        <label for="login">логин</label>
        <input [(ngModel)]="login" type="text" name="login">
      </li>
      <li>
        <label for="password">пароль</label>
        <input [(ngModel)]="password" type="password" name="password">
      </li>
      <li class="remember">
        <input type="checkbox" name="remember" [(ngModel)]="remember">
        <label for="remember">Запомнить меня</label>
      </li>
      <li>
        <p class="formError">{{error}}</p>
      </li>
      <li>
        <button class="submitButton" (click)="$event.preventDefault(); auth()">Войти</button>
      </li>
    </ul>






  </form>

</div>
