.auth {
  position: relative;
  border-radius: 5px;

  width: 20%;
  margin: 10rem auto 0 auto;
  -webkit-box-shadow: 0px 6px 16px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 16px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 16px -5px rgba(0, 0, 0, 0.75);

  .auth-header {
    overflow: hidden;
    background-color: #3cae59;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .auth-form {
    margin-top: 0.5rem;
    padding: 1rem;
    ul {
      padding: 0;
      list-style: none;
      li {
        margin-top: 0.5rem;
        .textInput {
          border-radius: 5px;
          box-sizing: border-box;
          padding: 0.5rem;
          border: 1px solid #e0e2e8;
          outline: none;
        }
        label {
          display: block;
        }
        input {
          border: none;
          border-bottom: 1px solid #ccc;
          width: 100%;
        }
        input[type="checkbox"] {
          transform: scale(1.3);
          width: 1rem;
        }
        .submitButton {
          outline: none;
          background-color: #3cae59;
          color: #ffffff;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          border: none;
          &:hover {
            background-color: darken(#3cae59, 6%);
          }
        }
      }
      .formError {
        color: red;
        font-weight: 400;
        font-size: 0.8rem;    
        margin: 0;
        p{
          margin: 0.5rem 0;
        }
      }
      .remember {
        display: flex;
        align-items: center;
        .remember-label {
          margin-top: 0.1rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
