
<div class="auth">
  <div class="auth-header">Вход в личный кабинет</div>
  <form class="auth-form" action="">
    <ul>
      <li>
        <label for="login">логин</label>
        <input type="text" name="login">
      </li>
      <li>
        <label for="password">пароль</label>
        <input type="password" name="password">
      </li>
      <li class="remember">
        <input type="checkbox" name="remember">
        <label for="remember">Запомнить меня</label>
      </li>
      <li>
        <input type="submit" value="Войти" name="submitButton">
      </li>
    </ul>






  </form>

</div>
