
<div class="auth">
  <div class="auth-header">Вход в личный кабинет</div>
  <form class="auth-form" action="" >
    <ul>
      <li>
        <!-- <label for="login">логин</label> -->
        <input [(ngModel)]="login" type="text" name="login" placeholder="Login" class="textInput">
      </li>
      <li class="formError">
        <p >{{loginError}}&nbsp;</p>
      </li>
      <li>
        <!-- <label for="password">пароль</label> -->
        <input [(ngModel)]="password" type="password" name="password" placeholder="Password" class="textInput">
      </li>
      <li class="formError">
        <p >{{passwordError}}&nbsp;</p>
      </li>
      <li class="remember">
        <input type="checkbox" name="remember" [(ngModel)]="remember">
        <label class="remember-label" for="remember">Запомнить меня</label>
      </li>
      <li class="formError">
        <p >{{error}}&nbsp;</p>
      </li>
      <li>
        <button class="submitButton" (click)="$event.preventDefault(); auth()">Войти</button>
      </li>
    </ul>






  </form>

</div>
