<table>
  <thead>
    <tr>
      <th></th>
      <th>id</th>
      <th>ФИО</th>
      <th>Подразделения</th>
      <th>Номер карты</th>
      <th>Обучающийся</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data ">
      <td>
        <input class="memberCheckbox" type="checkbox" value="{{item.id}}">
      </td>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.subdepartment}}</td>
      <td>{{item.card}}</td>
      <td>{{item.is_student}}</td>

    </tr>
  </tbody>
</table>
