<div class="tableWrapper">
  <table cellspacing="0" cellpadding="0" style="border: none; border-bottom: 1px solid #ccc;">
    <tr style="border: none;">
      <td style="border: none;">
        <table class="tableHeader" cellspacing="0" cellpadding="1">
          <col width="5%">
          <col width="6%">
          <col width="30%">
          <col width="20%">
          <col width="10%">
          <col width="11%">
          <col width="10%">
          <tr>
            <th></th>
            <th>id</th>
            <th>ФИО</th>
            <th>Подразделения</th>
            <th>Номер карты</th>
            <th>Обучающийся</th>
            <th>В профсоюзе</th>
          </tr>

        </table>
      </td>
    </tr>
    <tr style="border: none;">
      <td style="border: none;">
        <div class="tableBody">

          <table cellspacing="0" cellpadding="1">
            <col width="5%">
            <col width="6%">
            <col width="30%">
            <col width="20%">
            <col width="10%">
            <col width="11%">
            <col width="10%">
            <tbody id="membersTableBody">

              <tr *ngFor="let item of data" class="membersTableDataRow" (click)=selectMember($event)
                attr.data-member-id={{item.id}}>
                <td>
                  <input class="memberCheckbox" type="checkbox" value="{{item.id}}"
                    (click)=selectMembersByCheckbox($event)>
                </td>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.subdepartment}}</td>
                <td>{{item.card}}</td>
                <td ><i [ngClass]="{active: item.is_student}"></i></td>
                <td ><i [ngClass]="{active: item.active}" ></i></td>

              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </table>




</div>