.wrapper{
  display: flex;
  padding-left: 2%;

  nav{
    width: 20%;
  }
  .content{
    width: 83%;
    .content-header{
      color: #ffffff;
      padding: 1rem 0 1rem 3rem;
      background-color: #3cae59;
    }
  }
}
