<div class="users">
  <div class="users-nav">
    <div class="users-search">
      <input class="searchInput" type="text" placeholder="Поиск" [(ngModel)]="username">
    </div>
    <div class="users-nav-add" (click)="showAddModal('Добавить пользователя','createUser')">
      <i class="plusIcon"></i>
    </div>
    <div class="users-nav-edit" (click)="showEditModal('Изменить данные пользователя','editUser')" title="{{error}}">
      <i class="editIcon" [ngClass]="{blockModal: !userID}"></i>
    </div>
    <div class="users-nav-remove" (click)="showDelModal('Удалить пользователя','delUser')" title="{{error}}">
      <i class="removeIcon" [ngClass]="{blockModal: !userID}"></i>
    </div>
    <div class="users-nav-excel"></div>
    <div class="users-nav-pdf"></div>

  </div>
  
  <app-users-table class="users-table" [users]='users | filter:username'></app-users-table>


  <app-modal [roles]='roles'></app-modal>
</div>