<div class="structuresAddModal">

  <div class="structuresAddModal-header">
    <p>Добавить структуру</p>
    <button class="closeModal"></button>
  </div>
  <div class="structure">
    <div class="structure-name">
      <label for="structureName">Название структуры</label>
      <input name="structureName" type="text">
    </div>
    <div class="structure-organizer">
      <label for="structureOrganizer">Профорг подразделения</label>
      <input name="structureOrganizer" type="text">
    </div>
    <button  class="structure-addButton">Добавить</button>
  </div>

</div>
