<div class="members">
  <app-members-modal [paginationParams] = "paginationParams" ></app-members-modal>
  <app-delete-modal (childEvent)="getMembersByPage()"></app-delete-modal>
  <div class="members-nav">
    <div class="members-search">
      <input class="searchInput" type="text" placeholder="Поиск" [(ngModel)]="username" #usernameInput>
    </div>
    <div class="members-nav-add" (click) = "showAddModal()">
      <i class="plusIcon"></i>
    </div>
    <div class="members-nav-edit" (click) = "showEditModal()"  title="{{error}}">
      <i class="editIcon" [ngClass]="{blockModal:  !memberID, blockEditmodal: this.membersID.length > 1}"></i>
    </div>
    <div class="members-nav-remove" (click) = "showDelModal()"  title="{{error}}">
      <i class="removeIcon" [ngClass]="{blockModal: membersID.length == 0 && !memberID}"></i>
    </div>
    <button (click)="blockMember()" class="blockButton" [ngClass]="{blockModal: membersID.length == 0 && !memberID}"  title="{{error}}">Заблокировать</button>
    <button (click)="activateMember()" class="activateButton" [ngClass]="{blockModal: membersID.length == 0 && !memberID}" title="{{error}}">Активировать</button>
    <button (click)="downloadExcel()" class="activateButton" >Excel</button>
    <div class="members-nav-excel"></div>
    <div class="members-nav-pdf"></div>

  </div>

  <app-members-table class="membersTable" [data]='data'></app-members-table>

  <div class="tableNav">
    <div class="tableNav-pages">
      <ul class="tableNav-list">
        <i class="leftDoubleArrow"  attr.data-page-number = {{1}} (click)=changePage($event)></i>
        <i class="leftArrow" attr.data-page-number = {{pageNumber-1}} (click)=changePage($event)></i>
        <!-- <div *ngFor="let item of pageNumbers" class="pageNumbers">
          <li  attr.data-page-number = "{{item}}" (click)="getMembersByPage($event)">{{item}}</li>
        </div> -->
        <p>Page</p>
        <input (keyup)="check($event)" type="text" [(ngModel)]="pageNumber" #inputPage>
        <p>of {{maxPageNumber}}</p>
        <i class="rightArrow" attr.data-page-number = {{pageNumber-(-1)}} (click)=changePage($event)></i>
        <i class="rightDoubleArrow" attr.data-page-number = {{maxPageNumber}} (click)=changePage($event)></i>
      </ul>
    </div>
    <div class="tableNav-rows">
      <select [(ngModel)]="rowsCount" (change)="changeMaxNumberPage()">
        <option *ngFor="let item of rows" [value]="item" >{{item}}</option>
      </select>
    </div>
  </div>
  
  
</div>
