table{
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
  .subDepartmentDelModal{
    display: none;
  }
  .subDepartmentEditModal{
    display: none;
  }
  th{
    text-align: left;
  }
  td{
    padding: 1rem 0 1rem 0;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
  }
  .button{
    opacity: 0.85;
    padding: 0 1rem;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }
  .excelButton{
    opacity: 0.85;
    background-image: url('src/assets/icons/icons8-microsoft-excel.svg');
  }
  .delButton{
    opacity: 0.7;
    background-image: url('src/assets/icons/clear-24pxRed.svg');

  }
  .editButton{
    opacity: 0.7;
    background-image: url('src/assets/icons/create-24px.svg');

  }
}
