<div class="modalWrapper" id="modal">
    <div class="modal">
      <div class="modal-header">
        <p>Изменить пользователя</p>
        <app-close-button (click)="closeModal()"></app-close-button>
      </div>
      <div class="modal-content">
        <div class="role"  (click) = 'dropDownRole()'>
          <p id="role-placeholder" class="role-placeholder">{{roleLabel}}</p>
          <i class="arrowIcon" [ngClass]="{'dropdownIcon': roleDropdown}"></i>
        </div>
        <div class="roleDropdown" [ngClass]="{'dropdown': roleDropdown}">
          <ul>
            <li *ngFor="let item of roles" attr.data-role-id="{{item.id}}" attr.data-select-role="{{item.label}}" (click)="selectRole($event)">{{item.label}}</li>
          </ul>
        </div>
  
        <button class="addButton" (click)="editUser()">Изменить</button>
      </div>
    </div>
  </div>