<div class="structuresNav">
  <input class="searchInput" type="text" placeholder="Поиск" [(ngModel)]="structureName">
  <button class="addStructureButton" (click)="showAddModal()">Добавить структуру</button>
  <app-structures-add-modal class="structuresAddModal" id="structuresAddModal" ></app-structures-add-modal>
  <ul>
    <li [routerLink]="['structures',item.id]" *ngFor="let item of departmentsData | structuresNavFilter:structureName" attr.data-select-id="{{item.head_department_id}}" attr.data-select-number="{{item.title}}">{{item.title}}</li>
  </ul>
</div>
